@charset "utf-8";
/* CSS Document */

/* Bright Top Header Css */

#header_navigation{
	background:#fafafa !important;
	border-bottom:1px solid #eaeaea;
}

#top_navigation ul li a{
	color:#353535 !important;
}

#top_navigation ul li a:hover{
	color:#000 !important;
}

.firstnav-menu ul{
	background:#fff !important;
	border:1px solid #eaeaea !important;
	border-top: 0 !important;
	
}

#top_navigation ul li ul li a{
	background:#fff !important;
}

.firstnav-menu li li a{
	border-top:1px solid #eaeaea !important;
}

.current_page_item{
	color:#000 !important;
}